[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"
black = "*"
rope = "*"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
marshmallow = "==3.0.0rc9"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
